.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    @include bloc-size;
    width: 18%;
    &__un {
        background: $colour-bloc1;
        font-family: 'Ma Shan Zheng';
        font-size: 1.3rem;
        &__typo {
            font-family: 'Segoe Print';
        }
    }   
}

.fas {
    font-size: $size-note;
}

.menu__deux {
    background: $colour-bloc2;
}

.menu__trois {
    background: $colour-bloc3;
}