.logo {
    background: $colour-secondary;
    height: 15rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $margin;
    &__titre {
        color: $colour-primary;
        font-size: 8rem;
        font-family: "Montserrat SemiBold", sans-serif;
        letter-spacing: -0.8rem;        
    }
}
