.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $colour-secondary;
    max-width: 1920px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    &__link {
        list-style-type: none;
        &--style {
        text-decoration-line: none;
        color: $colour-primary;
        font-size: $margin;
        }
    }
}