.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $colour-secondary;
}

.nav {
    display: flex;
    justify-content: space-between;
    animation: wiggle 300ms infinite;
        @keyframes wiggle {
        0% 
        { 
            transform: translate(4px,0);
        }
        25% 
        { 
            transform: translate(0,0);
        }
        50% 
        { 
            transform: translate(-4px,0);
        }
        75% 
        { 
            transform: translate(0,0);
        }
        100% 
        { 
            transform: translate(4px,0);
        }
        }
    &__link {        
        list-style-type: none;
        font-size: 1.3rem;
        &--style {
        text-decoration-line: none;
        color: $colour-primary;
        padding-right: 40px;
        }
    }
}