@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/ma-shan-zheng-v5-latin-regular.eot");
  src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"), url("./public/font/ma-shan-zheng-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff") format("woff"), url("./public/font/ma-shan-zheng-v5-latin-regular.ttf") format("truetype"), url("./public/font/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng") format("svg");
}
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./puplic/font/kaushan-script-v8-latin-regular.eot");
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("./puplic/font/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./puplic/font/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("./puplic/font/kaushan-script-v8-latin-regular.woff") format("woff"), url("./puplic/font/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("./puplic/font/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/dancing-script-v15-latin-regular.eot");
  src: local("Dancing Script"), local("DancingScript-Regular"), url("./public/font/dancing-script-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/dancing-script-v15-latin-regular.woff2") format("woff2"), url("./public/font/dancing-script-v15-latin-regular.woff") format("woff"), url("./public/font/dancing-script-v15-latin-regular.ttf") format("truetype"), url("./public/font/dancing-script-v15-latin-regular.svg#DancingScript") format("svg");
}
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/croissant-one-v8-latin-regular.eot");
  src: local("Croissant One"), local("CroissantOne-Regular"), url("./public/font/croissant-one-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/croissant-one-v8-latin-regular.woff2") format("woff2"), url("./public/font/croissant-one-v8-latin-regular.woff") format("woff"), url("./public/font/croissant-one-v8-latin-regular.ttf") format("truetype"), url("./public/font/croissant-one-v8-latin-regular.svg#CroissantOne") format("svg");
}
@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/Segoe-Print-v1-latin-regular.eot");
  src: local("Segoe Print"), local("SegoePrint-Regular"), url("./public/font/Segoe-Print-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/Segoe-Print-v1-latin-regular.woff2") format("woff2"), url("./public/font/Segoe-Print-v1-latin-regular.woff") format("woff"), url("./public/font/Segoe-Print-v1-latin-regular.ttf") format("truetype"), url("./public/font/Segoe-Print-v1-latin-regular.svg#AbrilFatface") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/montserrat-v14-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./public/font/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-regular.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-regular.woff") format("woff"), url("./public/font/montserrat-v14-latin-regular.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./public/font/montserrat-v14-latin-600.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./public/font/montserrat-v14-latin-600.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-600.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-600.woff") format("woff"), url("./public/font/montserrat-v14-latin-600.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-600.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/pt-serif-v11-latin-regular.eot");
  src: local("PT Serif"), local("PTSerif-Regular"), url("./public/font/pt-serif-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/pt-serif-v11-latin-regular.woff2") format("woff2"), url("./public/font/pt-serif-v11-latin-regular.woff") format("woff"), url("./public/font/pt-serif-v11-latin-regular.ttf") format("truetype"), url("./public/font/pt-serif-v11-latin-regular.svg#PTSerif") format("svg");
}
html {
  font-size: 100%;
  min-width: 630px;
}
@media screen and (max-width: 960px) {
  html {
    font-size: 67%;
  }
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: normal;
}

.fas {
  font-size: 4rem;
  background: linear-gradient(to right, #f04a5e, #f78f6a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  display: inline-block;
  background: #579c87;
  border-radius: 1rem;
  margin: 1rem auto 5rem;
  height: 8rem;
  padding: 0 4rem;
}
.btn__mess {
  color: #fdcb46;
  font-size: 2.1rem;
}

.btn__point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 1rem;
  display: inline-block;
  background: #fdcb46;
  animation: loading 1600ms ease-in-out infinite;
}
@keyframes loading {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
.btn__point--un {
  animation-delay: 1000ms;
}
.btn__point--deux {
  animation-delay: 1200ms;
}
.btn__point--trois {
  animation-delay: 1400ms;
}

.logo {
  background: #579c87;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.logo__titre {
  color: #fdcb46;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.3rem;
}

.footer {
  background: #579c87;
  width: 100%;
  position: fixed;
  bottom: 0;
  max-width: 1920px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 1rem;
  animation: wiggle 300ms infinite;
}
@keyframes wiggle {
  0% {
    transform: translate(4px, 0);
  }
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-4px, 0);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(4px, 0);
  }
}
.nav__link {
  text-decoration-line: none;
  color: #fdcb46;
  font-size: 1.3rem;
  padding-right: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
  height: 30rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  text-decoration-line: none;
}
@media screen and (max-width: 960px) {
  .menu {
    width: 36%;
    height: 40rem;
  }
}
@media screen and (max-width: 640px) {
  .menu {
    width: 72%;
    height: 30rem;
  }
}
.menu__zoom:hover {
  transform: scale(1.2);
  transition: all ease 600ms;
  opacity: 0.6;
}
.menu--note {
  background: #fcdfdb;
}
.menu--chic {
  background: #ffe6fc;
}
.menu--delice {
  background: #f2f2f2;
}
.menu__typo1 {
  font-family: "Ma Shan Zheng", sans-serif;
  font-size: 2rem;
  color: #000;
  margin-top: 0;
}
.menu__typo2 {
  font-family: "Segoe Print", sans-serif;
  font-size: 2rem;
}
.menu__typo2--maj {
  text-transform: uppercase;
  color: #000;
}
.menu__typo2--delice {
  color: #0431df;
}
.menu__typo2--palette {
  color: #3d923a;
}
.menu__typo3 {
  font-family: "Croissant One", sans-serif;
  background: linear-gradient(to right, #c77412, #905bfd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.8rem;
}
.menu__typo4 {
  font-family: "PT Serif", serif;
  font-size: 2.2rem;
  color: #c77412;
}
.menu__typo5 {
  font-family: "Dancing Script", sans-serif;
  background: linear-gradient(to right, #0431df, #3d9ffa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2.5rem;
}
.menu__typo6 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2.1rem;
  background: linear-gradient(to right, #3d923a, #beff7f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2.1rem;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 1rem auto 6rem;
  line-height: 4rem;
  box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
}
.carte--1 {
  background: #fcdfdb;
  font-family: "Segoe Print", sans-serif;
  font-size: 1.2rem;
}
.carte--titre1 {
  font-family: "Ma Shan Zheng", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 3.1rem;
}
.carte--2 {
  background: #ffe6fc;
  font-family: "PT Serif", serif;
}
.carte--titre2 {
  font-family: "Croissant One", sans-serif;
  background: linear-gradient(to right, #c77412, #905bfd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  margin: 6rem auto;
}
.carte--3 {
  background: #f2f2f2;
  font-family: "Segoe Print", sans-serif;
}
.carte--titre3 {
  font-family: "Dancing Script", sans-serif;
  background: linear-gradient(to right, #0431df, #3d9ffa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 3.9rem;
  margin: 6rem auto;
}
.carte--4 {
  font-family: "Segoe Print", sans-serif;
}
.carte--titre4 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2.1rem;
  background: linear-gradient(to right, #3d923a, #beff7f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 3.9rem;
  margin: 6rem auto;
}

.table {
  width: 80%;
}
.table--chic1 {
  color: #c77412;
}
.table--chic2 {
  color: #905bfd;
}
.table--chic3 {
  color: #a56799;
}
.table__box {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 1rem auto;
  text-align: left;
}
.table__box th {
  font-weight: normal;
}

.note {
  display: flex;
  font-family: "Ma Shan Zheng", sans-serif;
  font-size: 3.1rem;
  align-content: center;
}

.fas--note {
  font-size: 4rem;
  padding-right: 1rem;
}

.choix {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.choix__deco {
  width: 33%;
}
.choix__titre {
  width: auto;
  font-size: 1.6rem;
  text-decoration: none;
  background: linear-gradient(to top, #000 0%, #000 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.6s;
}
.choix__titre--appetit {
  color: #c77412;
}
.choix__titre--plaisir {
  color: #a56799;
}
.choix__titre--sucree {
  color: #905bfd;
}
.choix__titre:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
