html {
  font-size: 100%;
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: #fff;
  text-align: center;
}

@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/ma-shan-zheng-v5-latin-regular.eot");
  src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"), url("./public/font/ma-shan-zheng-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff") format("woff"), url("./public/font/ma-shan-zheng-v5-latin-regular.ttf") format("truetype"), url("./public/font/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng") format("svg");
}
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./puplic/font/kaushan-script-v8-latin-regular.eot");
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("./puplic/font/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./puplic/font/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("./puplic/font/kaushan-script-v8-latin-regular.woff") format("woff"), url("./puplic/font/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("./puplic/font/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/dancing-script-v15-latin-regular.eot");
  src: local("Dancing Script"), local("DancingScript-Regular"), url("./public/font/dancing-script-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/dancing-script-v15-latin-regular.woff2") format("woff2"), url("./public/font/dancing-script-v15-latin-regular.woff") format("woff"), url("./public/font/dancing-script-v15-latin-regular.ttf") format("truetype"), url("./public/font/dancing-script-v15-latin-regular.svg#DancingScript") format("svg");
}
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/croissant-one-v8-latin-regular.eot");
  src: local("Croissant One"), local("CroissantOne-Regular"), url("./public/font/croissant-one-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/croissant-one-v8-latin-regular.woff2") format("woff2"), url("./public/font/croissant-one-v8-latin-regular.woff") format("woff"), url("./public/font/croissant-one-v8-latin-regular.ttf") format("truetype"), url("./public/font/croissant-one-v8-latin-regular.svg#CroissantOne") format("svg");
}
@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/abril-fatface-v11-latin-regular.eot");
  src: local("Abril Fatface"), local("AbrilFatface-Regular"), url("./public/font/abril-fatface-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/abril-fatface-v11-latin-regular.woff2") format("woff2"), url("./public/font/abril-fatface-v11-latin-regular.woff") format("woff"), url("./public/font/abril-fatface-v11-latin-regular.ttf") format("truetype"), url("./public/font/abril-fatface-v11-latin-regular.svg#AbrilFatface") format("svg");
}
@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/Segoe-Print-v1-latin-regular.eot");
  src: local("Segoe Print"), local("SegoePrint-Regular"), url("./public/font/Segoe-Print-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/Segoe-Print-v1-latin-regular.woff2") format("woff2"), url("./public/font/Segoe-Print-v1-latin-regular.woff") format("woff"), url("./public/font/Segoe-Print-v1-latin-regular.ttf") format("truetype"), url("./public/font/Segoe-Print-v1-latin-regular.svg#AbrilFatface") format("svg");
}
@font-face {
  font-family: "Meera Inimai";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/meera-inimai-v5-latin-regular.eot");
  src: local("Meera Inimai"), local("MeeraInimai-Regular"), url("./public/font/meera-inimai-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/meera-inimai-v5-latin-regular.woff2") format("woff2"), url("./public/font/meera-inimai-v5-latin-regular.woff") format("woff"), url("./public/font/meera-inimai-v5-latin-regular.ttf") format("truetype"), url("./public/font/meera-inimai-v5-latin-regular.svg#MeeraInimai") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/montserrat-v14-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./public/font/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-regular.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-regular.woff") format("woff"), url("./public/font/montserrat-v14-latin-regular.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./public/font/montserrat-v14-latin-600.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./public/font/montserrat-v14-latin-600.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-600.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-600.woff") format("woff"), url("./public/font/montserrat-v14-latin-600.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-600.svg#Montserrat") format("svg");
}
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: normal;
}

.btn {
  display: inline-block;
  background: #579c87;
  border-radius: 1rem;
  margin-bottom: 4rem;
  height: 8rem;
  padding: 0 4rem;
}
.btn__mess {
  color: #fdcb46;
  font-size: 2.1rem;
}

.btn__point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 1rem;
  display: inline-block;
  -webkit-animation: loading 1600ms ease-in-out infinite;
          animation: loading 1600ms ease-in-out infinite;
  background: #fdcb46;
}
.btn__point--un {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.btn__point--deux {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.btn__point--trois {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.logo {
  background: #579c87;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.logo__titre {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.8rem;
  color: #fdcb46;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #579c87;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: wiggle 300ms infinite;
          animation: wiggle 300ms infinite;
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-4px, 0);
            transform: translate(-4px, 0);
  }
  75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-4px, 0);
            transform: translate(-4px, 0);
  }
  75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }
}
.nav__link {
  list-style-type: none;
  font-size: 1.3rem;
}
.nav__link__style {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fdcb46;
  padding-right: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  -webkit-box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
          box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
  padding: 1rem;
  margin: 1rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 18%;
}
.menu__zoom:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all ease 600ms;
  -o-transition: all ease 600ms;
  transition: all ease 600ms;
  opacity: 0.6;
}
.menu__un {
  background: #fcdfdb;
}
.menu__deux {
  background: #ffe6fc;
}
.menu__trois {
  background: #f2f2f2;
}
.menu__typo1 {
  font-family: "Ma Shan Zheng", sans-serif;
  font-size: 2rem;
  color: initial;
  margin-top: 0;
}
.menu__typo2 {
  font-family: "Segoe Print", sans-serif;
  font-size: 2rem;
}
.menu__typo2--maj {
  text-transform: uppercase;
  color: initial;
}
.menu__typo2--delice {
  color: #0431df;
}
.menu__typo2--palette {
  color: #3d923a;
}
.menu__typo3 {
  font-family: "Croissant One", sans-serif;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#c77412), to(#905bfd));
  background: -o-linear-gradient(left, #c77412, #905bfd);
  background: linear-gradient(to right, #c77412, #905bfd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__typo4 {
  font-family: "Abril Fatface", serif;
  font-size: 2.1rem;
  color: #c77412;
}
.menu__typo5 {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#0431df), to(#3d9ffa));
  background: -o-linear-gradient(left, #0431df, #3d9ffa);
  background: linear-gradient(to right, #0431df, #3d9ffa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__typo6 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2.1rem;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: -o-linear-gradient(left, #3d923a, #beff7f);
  background: linear-gradient(to right, #3d923a, #beff7f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fas {
  font-size: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#f04a5e), to(#f78f6a));
  background: -o-linear-gradient(left, #f04a5e, #f78f6a);
  background: linear-gradient(to right, #f04a5e, #f78f6a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 920px) {
  .menu {
    width: 32%;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3Nhc3MvYmFzZS9fYmFzZS5zY3NzIiwiLi4vc3R5bGUuY3NzIiwiLi4vLi4vLi4vc2Fzcy91dGlscy9fdmFyaWFibGVzLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2Jhc2UvX3R5cG9ncmFwaHkuc2NzcyIsIi4uLy4uLy4uL3Nhc3MvY29tcG9uZW50cy9fYnV0dG9ucy5zY3NzIiwiLi4vLi4vLi4vc2Fzcy91dGlscy9fbWl4aW5zLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9faGVhZGVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fbmF2LnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fY29udGFpbmVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fZm9ybS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0ksZUFBQTtBQ0NKOztBREVBO0VBQ0ksaUJBQUE7RUFDQSxZQUFBO0VBQ0Esc0JFUFc7RUZRWCxrQkFBQTtBQ0NKOztBRVRBO0VBQ0ksNEJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsNERBQUE7RUFDQSx3Y0FBQTtBRllKO0FFVEE7RUFDSSw2QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2REFBQTtFQUNBLGtkQUFBO0FGV0o7QUVSQTtFQUNJLDZCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLDhEQUFBO0VBQ0EsdWRBQUE7QUZVSjtBRVBBO0VBQ0ksNEJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsNERBQUE7RUFDQSwwY0FBQTtBRlNKO0FFTkE7RUFDSSw0QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2REFBQTtFQUNBLCtjQUFBO0FGUUo7QUVMQTtFQUNJLDBCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLDBEQUFBO0VBQ0EsNGJBQUE7QUZPSjtBRUpBO0VBQ0ksMkJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsMkRBQUE7RUFDQSxrY0FBQTtBRk1KO0FFSkE7RUFDSSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSwwREFBQTtFQUNBLGljQUFBO0FGTUo7QUVIRTtFQUNFLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLHNEQUFBO0VBQ0EsK2FBQUE7QUZLSjtBRUZBO0VBQ0kscUNBQUE7RUFDQSxXRHhFVztFQ3lFWCxtQkFBQTtBRklKOztBRzlFQTtFQUNJLHFCQUFBO0VBQ0EsbUJGQ2U7RUVBZixtQkZjSztFRWJMLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7QUhpRko7QUdoRkk7RUFDSSxjRk5TO0VFT1QsaUJBQUE7QUhrRlI7O0FHOUVBO0VDREksV0hLSztFR0pMLFlISUs7RUdITCxrQkFBQTtFQUNBLGNBQUE7RUFDQSxxQkFBQTtFQUNBLHNEQUFBO1VBQUEsOENBQUE7RUFDQSxtQkhoQmE7QURtR2pCO0FHdEZRO0VBQ0ksK0JBQUE7VUFBQSx1QkFBQTtBSHdGWjtBR3RGUTtFQUNJLCtCQUFBO1VBQUEsdUJBQUE7QUh3Rlo7QUd0RlE7RUFDSSwrQkFBQTtVQUFBLHVCQUFBO0FId0ZaO0FHdEZJO0VBQ0k7SUFFSSwyQkFBQTtZQUFBLG1CQUFBO0VIdUZWO0VHckZNO0lBRUksMkJBQUE7WUFBQSxtQkFBQTtFSHNGVjtFR3BGTTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUhxRlY7RUduRk07SUFFSSwyQkFBQTtZQUFBLG1CQUFBO0VIb0ZWO0FBQ0Y7QUdwR0k7RUFDSTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUh1RlY7RUdyRk07SUFFSSwyQkFBQTtZQUFBLG1CQUFBO0VIc0ZWO0VHcEZNO0lBRUksMkJBQUE7WUFBQSxtQkFBQTtFSHFGVjtFR25GTTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUhvRlY7QUFDRjs7QUs1SEE7RUFDSSxtQkpFZTtFSURmLFlBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLFdBQUE7RUFDQSxtQkpVSztBRHFIVDtBSzlISTtFQUNJLDhDQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0VBQ0EsY0pWUztBRDBJakI7O0FNNUlBO0VBQ0ksZUFBQTtFQUNBLFNBQUE7RUFDQSxPQUFBO0VBQ0EsV0FBQTtFQUNBLG1CTEZlO0FEaUpuQjs7QU01SUE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSw4QkFBQTtFQUNBLHdDQUFBO1VBQUEsZ0NBQUE7QU4rSUo7QU05SVE7RUFDQTtJQUVJLG9DQUFBO1lBQUEsNEJBQUE7RU4rSVY7RU03SU07SUFFSSxrQ0FBQTtZQUFBLDBCQUFBO0VOOElWO0VNNUlNO0lBRUkscUNBQUE7WUFBQSw2QkFBQTtFTjZJVjtFTTNJTTtJQUVJLGtDQUFBO1lBQUEsMEJBQUE7RU40SVY7RU0xSU07SUFFSSxvQ0FBQTtZQUFBLDRCQUFBO0VOMklWO0FBQ0Y7QU0vSlE7RUFDQTtJQUVJLG9DQUFBO1lBQUEsNEJBQUE7RU4rSVY7RU03SU07SUFFSSxrQ0FBQTtZQUFBLDBCQUFBO0VOOElWO0VNNUlNO0lBRUkscUNBQUE7WUFBQSw2QkFBQTtFTjZJVjtFTTNJTTtJQUVJLGtDQUFBO1lBQUEsMEJBQUE7RU40SVY7RU0xSU07SUFFSSxvQ0FBQTtZQUFBLDRCQUFBO0VOMklWO0FBQ0Y7QU16SUk7RUFDSSxxQkFBQTtFQUNBLGlCQUFBO0FOMklSO0FNMUlRO0VBQ0Esa0NBQUE7VUFBQSwwQkFBQTtFQUNBLGNMckNTO0VLc0NULG1CQUFBO0FONElSOztBT3BMQTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsbUJBQUE7TUFBQSxlQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0FQdUxKOztBT3BMQTtFSExJLG9EQUFBO1VBQUEsNENBQUE7RUFDQSxhSGVLO0VHZEwsWUhjSztFR2JMLGFBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0Esa0NBQUE7VUFBQSwwQkFBQTtFR0FBLFVBQUE7QVA4TEo7QU83TEk7RUFDSSw2QkFBQTtNQUFBLHlCQUFBO1VBQUEscUJBQUE7RUFDQSxrQ0FBQTtFQUFBLDZCQUFBO0VBQUEsMEJBQUE7RUFDQSxZQUFBO0FQK0xSO0FPN0xJO0VBQ0ksbUJOVk87QUR5TWY7QU83TEk7RUFDSSxtQk5aTztBRDJNZjtBTzdMSTtFQUNJLG1CTmRPO0FENk1mO0FPN0xJO0VBQ0ksd0NBQUE7RUFDQSxlQUFBO0VBQ0EsY0FBQTtFQUNBLGFBQUE7QVArTFI7QU83TEk7RUFDSSxzQ0FBQTtFQUNBLGVBQUE7QVArTFI7QU85TFE7RUFDSSx5QkFBQTtFQUNBLGNBQUE7QVBnTVo7QU85TFE7RUFDSSxjTnpCSztBRHlOakI7QU85TFE7RUFDSSxjTjFCTTtBRDBObEI7QU83TEk7RUFDSSx3Q0FBQTtFQUNBLGlCQUFBO0VBQ0EscUZBQUE7RUFBQSxzREFBQTtFQUFBLHVEQUFBO0VBQ0EscUJBQUE7RUFDQSxvQ0FBQTtFQUNBLDZCQUFBO0FQK0xSO0FPN0xJO0VBQ0ksbUNBQUE7RUFDQSxpQkFBQTtFQUNBLGNONUNPO0FEMk9mO0FPN0xJO0VBQ0kseUNBQUE7RUFDQSxpQkFBQTtFQUNBLHFGQUFBO0VBQUEsc0RBQUE7RUFBQSx1REFBQTtFQUNBLHFCQUFBO0VBQ0Esb0NBQUE7RUFDQSw2QkFBQTtBUCtMUjtBTzVMSTtFQUNJLHlDQUFBO0VBQ0EsaUJBQUE7RUFDQSxxRkFBQTtFQUFBLHNEQUFBO0VBQUEsdURBQUE7RUFDQSxxQkFBQTtFQUNBLG9DQUFBO0VBQ0EsNkJBQUE7QVA4TFI7O0FPMUxBO0VBQ0ksZU4xRFE7RU0yRFIscUZBQUE7RUFBQSxzREFBQTtFQUFBLHVEQUFBO0VBQ0EscUJBQUE7RUFDQSxvQ0FBQTtFQUNBLDZCQUFBO0FQNkxKOztBUTdRQTtFQUNJO0lBQ0ksVUFBQTtFUmdSTjtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */