html {
  font-size: 100%;
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: #fff;
  text-align: center;
}

@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/ma-shan-zheng-v5-latin-regular.eot");
  src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"), url("./public/font/ma-shan-zheng-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"), url("./public/font/ma-shan-zheng-v5-latin-regular.woff") format("woff"), url("./public/font/ma-shan-zheng-v5-latin-regular.ttf") format("truetype"), url("./public/font/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng") format("svg");
}
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./puplic/font/kaushan-script-v8-latin-regular.eot");
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("./puplic/font/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./puplic/font/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("./puplic/font/kaushan-script-v8-latin-regular.woff") format("woff"), url("./puplic/font/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("./puplic/font/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/dancing-script-v15-latin-regular.eot");
  src: local("Dancing Script"), local("DancingScript-Regular"), url("./public/font/dancing-script-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/dancing-script-v15-latin-regular.woff2") format("woff2"), url("./public/font/dancing-script-v15-latin-regular.woff") format("woff"), url("./public/font/dancing-script-v15-latin-regular.ttf") format("truetype"), url("./public/font/dancing-script-v15-latin-regular.svg#DancingScript") format("svg");
}
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/croissant-one-v8-latin-regular.eot");
  src: local("Croissant One"), local("CroissantOne-Regular"), url("./public/font/croissant-one-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/croissant-one-v8-latin-regular.woff2") format("woff2"), url("./public/font/croissant-one-v8-latin-regular.woff") format("woff"), url("./public/font/croissant-one-v8-latin-regular.ttf") format("truetype"), url("./public/font/croissant-one-v8-latin-regular.svg#CroissantOne") format("svg");
}
@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/abril-fatface-v11-latin-regular.eot");
  src: local("Abril Fatface"), local("AbrilFatface-Regular"), url("./public/font/abril-fatface-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/abril-fatface-v11-latin-regular.woff2") format("woff2"), url("./public/font/abril-fatface-v11-latin-regular.woff") format("woff"), url("./public/font/abril-fatface-v11-latin-regular.ttf") format("truetype"), url("./public/font/abril-fatface-v11-latin-regular.svg#AbrilFatface") format("svg");
}
@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/Segoe-Print-v1-latin-regular.eot");
  src: local("Segoe Print"), local("SegoePrint-Regular"), url("./public/font/Segoe-Print-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/Segoe-Print-v1-latin-regular.woff2") format("woff2"), url("./public/font/Segoe-Print-v1-latin-regular.woff") format("woff"), url("./public/font/Segoe-Print-v1-latin-regular.ttf") format("truetype"), url("./public/font/Segoe-Print-v1-latin-regular.svg#AbrilFatface") format("svg");
}
@font-face {
  font-family: "Meera Inimai";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/meera-inimai-v5-latin-regular.eot");
  src: local("Meera Inimai"), local("MeeraInimai-Regular"), url("./public/font/meera-inimai-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/meera-inimai-v5-latin-regular.woff2") format("woff2"), url("./public/font/meera-inimai-v5-latin-regular.woff") format("woff"), url("./public/font/meera-inimai-v5-latin-regular.ttf") format("truetype"), url("./public/font/meera-inimai-v5-latin-regular.svg#MeeraInimai") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/montserrat-v14-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./public/font/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-regular.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-regular.woff") format("woff"), url("./public/font/montserrat-v14-latin-regular.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./public/font/montserrat-v14-latin-600.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./public/font/montserrat-v14-latin-600.eot?#iefix") format("embedded-opentype"), url("./public/font/montserrat-v14-latin-600.woff2") format("woff2"), url("./public/font/montserrat-v14-latin-600.woff") format("woff"), url("./public/font/montserrat-v14-latin-600.ttf") format("truetype"), url("./public/font/montserrat-v14-latin-600.svg#Montserrat") format("svg");
}
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: normal;
}

.btn {
  display: inline-block;
  background: #579c87;
  border-radius: 1rem;
}
.btn__mess {
  color: #fdcb46;
  font-size: 2.1rem;
}

.btn__point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 1rem;
  display: inline-block;
  -webkit-animation: loading 1600ms ease-in-out infinite;
          animation: loading 1600ms ease-in-out infinite;
  background: #fdcb46;
}
.btn__point--un {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
.btn__point--deux {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.btn__point--trois {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.logo {
  background: #579c87;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.logo__titre {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.8rem;
  color: #fdcb46;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #579c87;
  max-width: 1920px;
  margin: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  list-style-type: none;
}
.nav__link--style {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fdcb46;
  font-size: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  -webkit-box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
          box-shadow: 0 0 1rem rgba(88, 157, 136, 0.6);
  padding: 1rem;
  margin: 1rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 18%;
}
.menu__un {
  background: #fcdfdb;
}
.menu__deux {
  background: #ffe6fc;
}
.menu__trois {
  background: #f2f2f2;
}
.menu__typo1 {
  font-family: "Ma Shan Zheng", sans-serif;
  font-size: 1.9rem;
  color: initial;
}
.menu__typo2 {
  font-family: "Segoe Print", sans-serif;
  font-size: 2rem;
}
.menu__typo2--maj {
  text-transform: uppercase;
  color: initial;
}
.menu__typo3 {
  font-family: "Croissant One", sans-serif;
  font-size: 1.9rem;
}
.menu__typo4 {
  font-family: "Abril Fatface", serif;
  font-size: 2.1rem;
}
.menu__typo5 {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.5rem;
}
.menu__typo6 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2.1rem;
}

.fas {
  font-size: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#f04a5e), to(#f78f6a));
  background: -o-linear-gradient(left, #f04a5e, #f78f6a);
  background: linear-gradient(to right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
          background-clip: text;
}

@media screen and (max-width: 915px) {
  .menu {
    width: 32%;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3Nhc3MvYmFzZS9fYmFzZS5zY3NzIiwiLi4vc3R5bGUuY3NzIiwiLi4vLi4vLi4vc2Fzcy91dGlscy9fdmFyaWFibGVzLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2Jhc2UvX3R5cG9ncmFwaHkuc2NzcyIsIi4uLy4uLy4uL3Nhc3MvY29tcG9uZW50cy9fYnV0dG9ucy5zY3NzIiwiLi4vLi4vLi4vc2Fzcy91dGlscy9fbWl4aW5zLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9faGVhZGVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fbmF2LnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fY29udGFpbmVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dC9fZm9ybS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0ksZUFBQTtBQ0NKOztBREVBO0VBQ0ksaUJBQUE7RUFDQSxZQUFBO0VBQ0Esc0JFUFc7RUZRWCxrQkFBQTtBQ0NKOztBRVRBO0VBQ0ksNEJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsNERBQUE7RUFDQSx3Y0FBQTtBRllKO0FFVEE7RUFDSSw2QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2REFBQTtFQUNBLGtkQUFBO0FGV0o7QUVSQTtFQUNJLDZCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLDhEQUFBO0VBQ0EsdWRBQUE7QUZVSjtBRVBBO0VBQ0ksNEJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsNERBQUE7RUFDQSwwY0FBQTtBRlNKO0FFTkE7RUFDSSw0QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2REFBQTtFQUNBLCtjQUFBO0FGUUo7QUVMQTtFQUNJLDBCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLDBEQUFBO0VBQ0EsNGJBQUE7QUZPSjtBRUpBO0VBQ0ksMkJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsMkRBQUE7RUFDQSxrY0FBQTtBRk1KO0FFSkE7RUFDSSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSwwREFBQTtFQUNBLGljQUFBO0FGTUo7QUVIRTtFQUNFLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLHNEQUFBO0VBQ0EsK2FBQUE7QUZLSjtBRUZBO0VBQ0kscUNBQUE7RUFDQSxXRHhFVztFQ3lFWCxtQkFBQTtBRklKOztBRzlFQTtFQUNJLHFCQUFBO0VBQ0EsbUJGQ2U7RUVBZixtQkZjSztBRG1FVDtBR2hGSTtFQUNJLGNGSFM7RUVJVCxpQkFBQTtBSGtGUjs7QUc5RUE7RUNFSSxXSEtLO0VHSkwsWUhJSztFR0hMLGtCQUFBO0VBQ0EsWUhFSztFR0RMLHFCQUFBO0VBQ0Esc0RBQUE7VUFBQSw4Q0FBQTtFQUNBLG1CSGhCYTtBRGdHakI7QUd0RlE7RUFDSSwrQkFBQTtVQUFBLHVCQUFBO0FId0ZaO0FHdEZRO0VBQ0ksK0JBQUE7VUFBQSx1QkFBQTtBSHdGWjtBR3RGUTtFQUNJLCtCQUFBO1VBQUEsdUJBQUE7QUh3Rlo7QUd0Rkk7RUFDSTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUh1RlY7RUdyRk07SUFFSSwyQkFBQTtZQUFBLG1CQUFBO0VIc0ZWO0VHcEZNO0lBRUksMkJBQUE7WUFBQSxtQkFBQTtFSHFGVjtFR25GTTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUhvRlY7QUFDRjtBR3BHSTtFQUNJO0lBRUksMkJBQUE7WUFBQSxtQkFBQTtFSHVGVjtFR3JGTTtJQUVJLDJCQUFBO1lBQUEsbUJBQUE7RUhzRlY7RUdwRk07SUFFSSwyQkFBQTtZQUFBLG1CQUFBO0VIcUZWO0VHbkZNO0lBRUksMkJBQUE7WUFBQSxtQkFBQTtFSG9GVjtBQUNGOztBS3pIQTtFQUNJLG1CSkVlO0VJRGYsWUFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EsV0FBQTtFQUNBLG1CSlVLO0FEa0hUO0FLM0hJO0VBQ0ksOENBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7RUFDQSxjSlZTO0FEdUlqQjs7QU16SUE7RUFDSSxlQUFBO0VBQ0EsU0FBQTtFQUNBLE9BQUE7RUFDQSxXQUFBO0VBQ0EsbUJMRmU7RUtHZixpQkFBQTtFQUNBLFlBQUE7QU40SUo7O0FNeklBO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7QU40SUo7QU0zSUk7RUFDSSxxQkFBQTtBTjZJUjtBTTVJUTtFQUNBLGtDQUFBO1VBQUEsMEJBQUE7RUFDQSxjTGZTO0VLZ0JULGVMREM7QUQrSVQ7O0FPaEtBO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSxtQkFBQTtNQUFBLGVBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7QVBtS0o7O0FPaEtBO0VITEksb0RBQUE7VUFBQSw0Q0FBQTtFQUNBLGFIZUs7RUdkTCxZSGNLO0VHYkwsYUFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSxrQ0FBQTtVQUFBLDBCQUFBO0VHQUEsVUFBQTtBUDBLSjtBT3pLSTtFQUNJLG1CTkxPO0FEZ0xmO0FPektJO0VBQ0ksbUJOUE87QURrTGY7QU96S0k7RUFDSSxtQk5UTztBRG9MZjtBT3pLSTtFQUNJLHdDQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBO0FQMktSO0FPektJO0VBQ0ksc0NBQUE7RUFDQSxlQUFBO0FQMktSO0FPMUtRO0VBQ0kseUJBQUE7RUFDQSxjQUFBO0FQNEtaO0FPektJO0VBQ0ksd0NBQUE7RUFDQSxpQkFBQTtBUDJLUjtBT3pLSTtFQUNJLG1DQUFBO0VBQ0EsaUJBQUE7QVAyS1I7QU96S0k7RUFDSSx5Q0FBQTtFQUNBLGlCQUFBO0FQMktSO0FPektJO0VBQ0kseUNBQUE7RUFDQSxpQkFBQTtBUDJLUjs7QU9yS0E7RUFDSSxlTmxDUTtFTW1DUixxRkFBQTtFQUFBLHNEQUFBO0VBQUEsdURBQUE7RUFDQSw2QkFBQTtVQUFBLHFCQUFBO0FQd0tKOztBUTlOQTtFQUNJO0lBQ0ksVUFBQTtFUmlPTjtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */