.btn {
  display: inline-block;
  background: $colour-secondary;
  border-radius: 2rem;
  margin: $margin auto 10rem;
  height: 9rem;
  padding: 0 4rem;
  &__mess {
    color: $colour-primary;
    font-size: 2.1rem;
  }
}

.btn__point {
  @include trois-point;
  &--un {
    animation-delay: 1000ms;
  }
  &--deux {
    animation-delay: 1200ms;
  }
  &--trois {
    animation-delay: 1400ms;
  }
}

.fas--note2 {
  font-size: 7rem;
  background: linear-gradient(to right, $colour-note1, $colour-note2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fas--note1 {
  font-size: 4rem;
  background: linear-gradient(to right, $colour-note1, $colour-note2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fas--note3 {
  background: linear-gradient(to right, $colour-note1, $colour-note2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-right: 1.2rem;
  align-self: center;
}
