.btn {
    display: inline-block;
    background: $colour-secondary;
    border-radius: $margin;
    &__mess {
        color: $colour-primary;     
        font-size: 2.1rem;   
    }
}

.btn__point {
    @include trois-point;
        &--un {
            animation-delay: 1400ms;
        }
        &--deux {
            animation-delay: 1200ms;
        }
        &--trois {
            animation-delay: 1000ms;
        }
    @keyframes loading {
        0%
        {
            transform: scale(0);
        }
        20%
        {
            transform: scale(1);
        }
        80%
        {
            transform: scale(0);
        }
        100%
        {
            transform: scale(0);
        }
        
    }
}

