/* ma-shan-zheng-regular - latin */
@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"),
    url("../font/ma-shan-zheng-v5-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/ma-shan-zheng-v5-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../font/kaushan-script-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/kaushan-script-v8-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: local("Dancing Script"), local("DancingScript-Regular"),
    url("../font/dancing-script-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/dancing-script-v15-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* croissant-one-regular - latin */
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: local("Croissant One"), local("CroissantOne-Regular"),
    url("../font/croissant-one-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./public/font/croissant-one-v8-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* abril-fatface-regular - latin */
@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: local("Abril Fatface"), local("AbrilFatface-Regular"),
    url("../font/abril-fatface-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/abril-fatface-v11-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* segoe-print - latin */
@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe Print"), local("SegoePrint-Regular"),
    url("../font/Segoe-Print-v1-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/Segoe-Print-v1-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* pt-serif-regular - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"),
    url("../font/pt-serif-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/pt-serif-v11-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../font/montserrat-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../font/montserrat-v14-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../font/montserrat-v14-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../font/montserrat-v14-latin-600.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

html {
  font-size: 100%;
  min-width: 290px;
  @media screen and (max-width: 1200px) {
    font-size: 67%;
  }
  @media screen and (max-width: 992px) {
    font-size: 83%;
  }
  @media screen and (max-width: 768px) {
    font-size: 64%;
  }
  @media screen and (max-width: 600px) {
    font-size: 50%;
  }
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: $colour-white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: $colour-black;
  font-weight: normal;
}
