@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/ma-shan-zheng-v5-latin-regular.eot");
  src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"),
    url("./public/font/ma-shan-zheng-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"),
    url("./public/font/ma-shan-zheng-v5-latin-regular.woff") format("woff"),
    url("./public/font/ma-shan-zheng-v5-latin-regular.ttf") format("truetype"),
    url("./public/font/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng")
      format("svg");
}

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./puplic/font/kaushan-script-v8-latin-regular.eot");
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("./puplic/font/kaushan-script-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./puplic/font/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    url("./puplic/font/kaushan-script-v8-latin-regular.woff") format("woff"),
    url("./puplic/font/kaushan-script-v8-latin-regular.ttf") format("truetype"),
    url("./puplic/font/kaushan-script-v8-latin-regular.svg#KaushanScript")
      format("svg");
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/dancing-script-v15-latin-regular.eot");
  src: local("Dancing Script"), local("DancingScript-Regular"),
    url("./public/font/dancing-script-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/dancing-script-v15-latin-regular.woff2") format("woff2"),
    url("./public/font/dancing-script-v15-latin-regular.woff") format("woff"),
    url("./public/font/dancing-script-v15-latin-regular.ttf") format("truetype"),
    url("./public/font/dancing-script-v15-latin-regular.svg#DancingScript")
      format("svg");
}

@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/croissant-one-v8-latin-regular.eot");
  src: local("Croissant One"), local("CroissantOne-Regular"),
    url("./public/font/croissant-one-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/croissant-one-v8-latin-regular.woff2") format("woff2"),
    url("./public/font/croissant-one-v8-latin-regular.woff") format("woff"),
    url("./public/font/croissant-one-v8-latin-regular.ttf") format("truetype"),
    url("./public/font/croissant-one-v8-latin-regular.svg#CroissantOne")
      format("svg");
}

@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/Segoe-Print-v1-latin-regular.eot");
  src: local("Segoe Print"), local("SegoePrint-Regular"),
    url("./public/font/Segoe-Print-v1-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/Segoe-Print-v1-latin-regular.woff2") format("woff2"),
    url("./public/font/Segoe-Print-v1-latin-regular.woff") format("woff"),
    url("./public/font/Segoe-Print-v1-latin-regular.ttf") format("truetype"),
    url("./public/font/Segoe-Print-v1-latin-regular.svg#AbrilFatface")
      format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/montserrat-v14-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("./public/font/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("./public/font/montserrat-v14-latin-regular.woff") format("woff"),
    url("./public/font/montserrat-v14-latin-regular.ttf") format("truetype"),
    url("./public/font/montserrat-v14-latin-regular.svg#Montserrat")
      format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./public/font/montserrat-v14-latin-600.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("./public/font/montserrat-v14-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/montserrat-v14-latin-600.woff2") format("woff2"),
    url("./public/font/montserrat-v14-latin-600.woff") format("woff"),
    url("./public/font/montserrat-v14-latin-600.ttf") format("truetype"),
    url("./public/font/montserrat-v14-latin-600.svg#Montserrat") format("svg");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("./public/font/pt-serif-v11-latin-regular.eot");
  src: local("PT Serif"), local("PTSerif-Regular"),
    url("./public/font/pt-serif-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/font/pt-serif-v11-latin-regular.woff2") format("woff2"),
    url("./public/font/pt-serif-v11-latin-regular.woff") format("woff"),
    url("./public/font/pt-serif-v11-latin-regular.ttf") format("truetype"),
    url("./public/font/pt-serif-v11-latin-regular.svg#PTSerif") format("svg");
}
html {
  font-size: 100%;
  @media screen and (max-width: 960px) {
    font-size: 67%;
    min-width: 340px;
  }
}

body {
  max-width: 1920px;
  margin: auto;
  background-color: $colour-white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: $colour-black;
  font-weight: normal;
  font-size: 1.7rem;
}
