.fas {
  font-size: $size-note;
  background: linear-gradient(to right, $colour-note1, $colour-note2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
