@font-face {
    font-family: 'Ma Shan Zheng';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/ma-shan-zheng-v5-latin-regular.eot');
    src: local("Ma Shan Zheng"), local("MaShanZheng-Regular"), url('./public/font/ma-shan-zheng-v5-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/ma-shan-zheng-v5-latin-regular.woff2') format("woff2"), url('./public/font/ma-shan-zheng-v5-latin-regular.woff') format("woff"), url('./public/font/ma-shan-zheng-v5-latin-regular.ttf') format("truetype"), url('./public/font/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng') format("svg");
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('./puplic/font/kaushan-script-v8-latin-regular.eot');
    src: local("Kaushan Script"), local("KaushanScript-Regular"), url('./puplic/font/kaushan-script-v8-latin-regular.eot?#iefix') format("embedded-opentype"), url('./puplic/font/kaushan-script-v8-latin-regular.woff2') format("woff2"), url('./puplic/font/kaushan-script-v8-latin-regular.woff') format("woff"), url('./puplic/font/kaushan-script-v8-latin-regular.ttf') format("truetype"), url('./puplic/font/kaushan-script-v8-latin-regular.svg#KaushanScript') format("svg");
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/dancing-script-v15-latin-regular.eot');
    src: local("Dancing Script"), local("DancingScript-Regular"), url('./public/font/dancing-script-v15-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/dancing-script-v15-latin-regular.woff2') format("woff2"), url('./public/font/dancing-script-v15-latin-regular.woff') format("woff"), url('./public/font/dancing-script-v15-latin-regular.ttf') format("truetype"), url('./public/font/dancing-script-v15-latin-regular.svg#DancingScript') format("svg");
}

@font-face {
    font-family: 'Croissant One';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/croissant-one-v8-latin-regular.eot');
    src: local("Croissant One"), local("CroissantOne-Regular"), url('./public/font/croissant-one-v8-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/croissant-one-v8-latin-regular.woff2') format("woff2"), url('./public/font/croissant-one-v8-latin-regular.woff') format("woff"), url('./public/font/croissant-one-v8-latin-regular.ttf') format("truetype"), url('./public/font/croissant-one-v8-latin-regular.svg#CroissantOne') format("svg");
}

@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/abril-fatface-v11-latin-regular.eot');
    src: local("Abril Fatface"), local("AbrilFatface-Regular"), url('./public/font/abril-fatface-v11-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/abril-fatface-v11-latin-regular.woff2') format("woff2"), url('./public/font/abril-fatface-v11-latin-regular.woff') format("woff"), url('./public/font/abril-fatface-v11-latin-regular.ttf') format("truetype"), url('./public/font/abril-fatface-v11-latin-regular.svg#AbrilFatface') format("svg");
}

@font-face {
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/Segoe-Print-v1-latin-regular.eot');
    src: local("Segoe Print"), local("SegoePrint-Regular"), url('./public/font/Segoe-Print-v1-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/Segoe-Print-v1-latin-regular.woff2') format("woff2"), url('./public/font/Segoe-Print-v1-latin-regular.woff') format("woff"), url('./public/font/Segoe-Print-v1-latin-regular.ttf') format("truetype"), url('./public/font/Segoe-Print-v1-latin-regular.svg#AbrilFatface') format("svg");
}

@font-face {
    font-family: 'Meera Inimai';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/meera-inimai-v5-latin-regular.eot');
    src: local("Meera Inimai"), local("MeeraInimai-Regular"), url('./public/font/meera-inimai-v5-latin-regular.eot?#iefix') format("embedded-opentype"), url('./public/font/meera-inimai-v5-latin-regular.woff2') format("woff2"), url('./public/font/meera-inimai-v5-latin-regular.woff') format("woff"), url('./public/font/meera-inimai-v5-latin-regular.ttf') format("truetype"), url('./public/font/meera-inimai-v5-latin-regular.svg#MeeraInimai') format("svg");
}

body {
    font-family: sans-serif;
    color: $colour-black;
    font-weight: normal;
}

