.fas {
    font-size: $size-note;
    background: linear-gradient(to right, $colour-note1, $colour-note2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}