.carte {
    @include menu-carte;
    &--1 {
        background: $colour-bloc1;
        font-family: 'Segoe Print', sans-serif;
        h2 {
            font-family: 'Ma Shan Zheng', sans-serif;
        }
    }
    &--2 {
        background: $colour-bloc2;
        font-family: 'PT Serif', serif;
        h2 {
            font-family: 'Croissant One', sans-serif;
        }      
    }
    &--3 {
        background: $colour-bloc3;
        font-family: 'Segoe Print', sans-serif;
        h2 {
            font-family: 'Dancing Script', sans-serif;
        }
    }    
    &--4 {
        font-family: 'Segoe Print', sans-serif;
        h2 {
            font-family: 'Kaushan Script', sans-serif;
        }
    }
}