.carte {
  @include menu-carte;
  &--1 {
    background: $colour-bloc1;
    font-family: "Segoe Print", sans-serif;
    font-size: 1.2rem;
  }
  &--titre1 {
    font-family: "Ma Shan Zheng", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 3.1rem;
  }

  &--2 {
    background: $colour-bloc2;
    font-family: "PT Serif", serif;
  }
  &--titre2 {
    @include typo-chic;
    font-size: 2.3rem;
    margin: 6rem auto;
  }

  &--3 {
    background: $colour-bloc3;
    font-family: "Segoe Print", sans-serif;
  }

  &--titre3 {
    @include typo-delice;
    font-size: 3.9rem;
    margin: 6rem auto;
  }
  &--4 {
    font-family: "Segoe Print", sans-serif;
  }
  &--titre4 {
    @include typo-palette;
    font-size: 3rem;
    margin: 6rem auto;
  }
}

.table {
  width: $table-width;
  caption {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &__box {
    @include table;
    th {
      font-weight: normal;
    }
  }
}

.note {
  display: flex;
  font-family: "Ma Shan Zheng", sans-serif;
  font-size: 3.1rem;
  align-content: center;
}

.fas--note {
  font-size: 4rem;
  padding-right: 1rem;
}
