@mixin bloc-size {
    box-shadow: 0 0 $margin $colour-boxshadow;
    padding: $margin;
    margin: $margin;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration-line: none;
}

@mixin trois-point {
    width: $margin;
    height: $margin;
    border-radius: 50%;
    margin: 0 $margin;
    display: inline-block;
    animation: loading 1600ms ease-in-out infinite;
    background: $colour-primary;
}

@mixin menu-carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1rem auto 5rem;
    line-height: 2.5rem;
}

@mixin header {
    background: $colour-secondary;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: $margin;
}

@mixin logo {
    color: $colour-primary;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 6rem;
    letter-spacing: -0.7rem;
}