@mixin bloc-size {
    box-shadow: $margin-bloc $margin-bloc 20px $colour-secondary;
    padding: $margin-bloc;
    margin: $margin-bloc;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}