@mixin bloc-size {
    box-shadow: 0 0 $margin $colour-boxshadow;
    padding: $margin;
    margin: $margin;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin trois-point {
    width: $margin;
    height: $margin;
    border-radius: 50%;
    margin: $margin;
    display: inline-block;
    animation: loading 1600ms ease-in-out infinite;
    background: $colour-primary;
}