@mixin trois-point {
  width: $margin;
  height: $margin;
  border-radius: 50%;
  margin: 0 $margin;
  display: inline-block;
  background: $colour-primary;
  animation: loading 1600ms ease-in-out infinite;
  @keyframes loading {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    80% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
}

@mixin menu-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 1rem auto 6rem;
  line-height: 4rem;
  box-shadow: 0 0 $margin $colour-boxshadow;
}

@mixin header {
  background: $colour-secondary;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: $margin;
}

@mixin logo {
  color: $colour-primary;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.3rem;
}

@mixin footer {
  background: $colour-secondary;
  width: 100%;
  position: fixed;
  bottom: 0;
  max-width: 1920px;
}

@mixin footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: $margin;
  animation: wiggle 300ms infinite;
  @keyframes wiggle {
    0% {
      transform: translate(4px, 0);
    }
    25% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-4px, 0);
    }
    75% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(4px, 0);
    }
  }
}

@mixin footer-link {
  text-decoration-line: none;
  color: $colour-primary;
  font-size: 1.3rem;
  padding-right: 40px;
}

@mixin bloc {
  box-shadow: 0 0 $margin $colour-boxshadow;
  height: 30rem;
  padding: $margin;
  margin: $margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  text-decoration-line: none;
}

@mixin table {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: $margin auto;
}

@mixin typo-chic {
  font-family: "Croissant One", sans-serif;
  background: linear-gradient(to right, $colour-chic1, $colour-chic2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin typo-delice {
  font-family: "Dancing Script", sans-serif;
  background: linear-gradient(to right, $colour-delice1, $colour-delice2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin typo-palette {
  font-family: "Kaushan Script", sans-serif;
  background: linear-gradient(to right, $colour-palette1, $colour-palette2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
