$colour-white: #fff;
$colour-black: #000;
$colour-primary: #fdcb46;
$colour-secondary: #579c87;
$colour-bloc1: #fcdfdb;
$colour-bloc2: #fff5fe;
$colour-bloc3: #f9f9f9;
$colour-note1: #f04a5e;
$colour-note2: #f78f6a;
$colour-chic1: #c67412;
$colour-chic2: #6e4ccc;
$colour-delice1: #0228dd;
$colour-delice2: #229df9;
$colour-palette1: #3d923a;
$colour-palette2: #beff7f;

$margin-bloc: 3rem;