$colour-white: #fff;
$colour-black: #000;
$colour-primary: #fdcb46;
$colour-secondary: #579c87;
$colour-boxshadow: rgba(88, 157, 136, 0.6);
$colour-bloc1: #fcdfdb;
$colour-bloc2: #ffe6fc;
$colour-bloc3: #f2f2f2;
$colour-note1: #f04a5e;
$colour-note2: #f78f6a;
$colour-chic1: #c77412;
$colour-chic2: #905bfd;
$colour-delice1: #0431df;
$colour-delice2: #3d9ffa;
$colour-palette1: #3d923a;
$colour-palette2: #beff7f;

$margin: 1rem;
$size-note: $margin * 6;
$size-dot: $margin * 2;
$table-width: 90%;
